@charset "UTF-8";
body {
    background-color: white;
    color: rgba(0, 0, 0, 1);

    
}
p {
    text-align: justify;
    text-indent: 50px;

}

/* Formatação das legendas das imagens */
figure.foto-legenda {
    position: relative; /*relativo ao código html; para os filhos serem absolutos*/
    border: 8px solid white;
    box-shadow: 1px -2px 4px black; /*horizontal, vertical, difusão*/
}
figure.foto-legenda img { /* formatar tudo que for img */
    
    width: 100%;    /*largura. Imagem passa a ocupar todo o espaço da borda*/
    height: 100%;      /*altura*/

}
figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;     /*Só é absoluto em relação ao pai se este for relativo ao documento. Absoluta dentro do container (a borda branca) */
    top: 0px;
    background-color: rgba(0, 0, 0, 0.25); /*para a legenda branca ficar num fundo meio cinza*/
    color: rgb(255, 255, 255);
    width: 100%;    /*legenda e seu fundo passam a ocupar todo o espaço da borda*/
    height: 100%;
    padding: 100px; /*aumenta o tamanho e desloca para baixo, mas extravasa a borda*/
    box-sizing: border-box; /*cria um box dentro da borda (resolve o problema causado pelo padding*/


    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
} 

/*FORMATAÇÃO DO MENU*/
nav#menu {
    display: block;
     
    
    
}

nav#menu ul{    /*nas listas não ordenadas*/
    position: absolute; /*posição relativa: fica preso no container; absoluta: livre pelo site*/
    list-style: none;   /*sumir com os símbolos (pq não usa type?)*/
    text-transform: uppercase;
    top: 0px;   /*0px não é no limite da página, há uma margem. Números negativos resolvem*/
    right: 0px; /*distância do lado direito*/
                    /*top e left só são possíveis pois o menu ul é absoluto*/
}

nav#menu li {
    display: inline-block; /*Faz com que sejam dispostos na mesma linha*/
    background-color: #dddddd;
    padding: 10px; /*padding define a distância de um elemento até suas bordas. Evita ter que configurar todos os lados. Muito mais informações na documentação*/
    margin: 2px; /*espaço externo, além das bordas. Lembrar que é duplicado se aplicado a elementos próximos*/
}

nav#menu h1 {
    /*sumir com ele pois não há necessidade visual, mas é importante para os mecanismos de busca*/
    display: none;
}