body {
	background: #e1e1e1;
}
h1 {
	text-align: center;
	font-family: calibri;
	color: navy;
	font-size: 48px;
}
h3 {
	font-family: calibri;
	color: navy;
	font-size: 24px;
}
.regua {
	border: 2px solid navy;
	margin-left: 0;
}
#regua-1 {
	width: 350px;
}
hr[id=regua-2] {
	width: 705px;	
}		
p {
	text-align: justify;
	font-family: verdana; 
	color: black;
	font-size: 18px;	/*= tamanho 4*/
	font-weight: 400;
}
.paragrafo {
	text-indent: 30px;
}
li {	
	font-weight: 900;
	color: navy;
	font-family: 'calibri';
	font-size: 24px; /*o mesmo que tamanho 5*/
}
#rodape {
	font-size: small;
	font-style: italic;
}
